## Secret App key
secret_key=<Secret_Key>

## Database connection
## sqlite
DB_TYPE=sqlite
DATABASE=example.db
## mariadb
#DB_TYPE=mariadb
#DB_USER=
#DB_PASSWORD=
#DB_HOST=
#DB_PORT=3306
#DB_NAME=

## Endpoint for llama-cpp-python Python API
# LLAMA_CCP_API_URL1=http://localhost:8000/v1/completions
## LLAMA_CCP_API_Schema
LLAMA_TEMPERATURE=0.8
LLAMA_STOP=[}}}, ###]
LLAMA_MAX_TOKEN=300
LLAMA_ECHO=true

## Endpoint for Koboldcpp API
#KOBOLDCPP_API_URL=http://localhost:5001/api/v1/generate
## KOBOLDCPP_API_SCHEMA
KOBOLDCPP_FRMTRMSPCH=1
KOBOLDCPP_SINGLELINE=1
KOBOLDCPP_TEMPERATURE=0.2
KOBOLDCPP_TOP_P=0.6
KOBOLDCPP_MAX_LENGTH=500
KOBOLDCPP_TOP_K=40
KOBOLDCPP_REP_PEN=1.1
KOBOLDCPP_TOP_A=0
KOBOLDCPP_STOP_SEQUENCE="}}}"