{% extends 'base.html' %}

{% block title %}add prompt - lairad{% endblock %}

{% block content %}
	<h1>Add Prompt</h1>
	<form method="POST">
		<div class="form-group">
		<label for="prompt_intro">Prompt Intro:</label>
		<input type="text" name="prompt_intro" class="form-control" required>
    </div>
    <div class="form-group">
		<label for="prompt_constraints">Prompt Constraints:</label>
		<input type="prompt_constraints" name="prompt_constraints" class="form-control" required>
    </div>
	    <div class="form-group">
		<label for="prompt_commands">Prompt Commands:</label>
		<input type="prompt_commands" name="prompt_commands" class="form-control" required>
    </div>
	    <div class="form-group">
		<label for="prompt_resources">Prompt Resources:</label>
		<input type="prompt_resources" name="prompt_resources" class="form-control" required>
    </div>

	    <div class="form-group">
		<label for="prompt_performance_eval">Prompt Performance Evaluation:</label>
		<input type="prompt_performance_eval" name="prompt_performance_eval" class="form-control" required>
    </div>

	    <div class="form-group">
		<label for="prompt_response_form">Prompt Respone Format:</label>
		<input type="prompt_response_form" name="prompt_response_form" class="form-control" required>
    </div>

	    <div class="form-group">
		<label for="prompt_outro">Prompt Outro:</label>
		<input type="prompt_outro" name="prompt_outro" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}