{% extends 'base.html' %}

{% block title %}config - lairad{% endblock %}

{% block content %}
		<form method="POST" action="{{ url_for('config.config') }}">
	<div class="form-group">
    <label for="theme">Select Theme</label>
    <select class="form-control" id="theme" name="theme">
      <option value="dark" {% if theme == 'dark' %}selected{% endif %}>Dark</option>
      <option value="light" {% if theme == 'light' %}selected{% endif %}>Light</option>
      <option value="blue" {% if theme == 'blue' %}selected{% endif %}>Blue</option>
    </select>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
	</form>
{% endblock %}