{% extends 'base.html' %}

{% block title %}Home LAIDAR{% endblock %}

{% block content %}	
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Project 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Project 4</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <h1>Local AI Research and Development</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend mi vel enim convallis elementum. Sed euismod justo vitae tellus fringilla convallis. Duis non velit vitae </p>
        </div>
      </div>    
{% endblock %}