{% extends "base.html" %}

{% block title %}List of Users{% endblock %}

{% block content %}
  <h1>List of Users</h1>
  <table class="table table-hover">
    <thead>
      <tr>
	    <th>id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Password</th>
		<th>Is Admin</th>
		<th>User Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
		  <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.theme }}</td>
		  <td>{{ user.is_admin }}</td>
          <td>{{ user.user_group }}</td>
          <td>
            {% if user.is_admin %}
              N/A
            {% else %}
              <form action="{{ url_for('user.delete_user', user_id=user.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            {% endif %}
          </td>
		</tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
